.container{
    border: 1px solid red;

}

.logoInput{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px;
}
.logoInput input{
    width: 250px;
    height: 12px;
    padding: 10px;
}